bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
future==0.18.2
idna==2.10
netmiko==3.4.0
ntc-templates==2.0.0
paramiko==2.7.2
psutil==5.8.0
pycparser==2.20
PyNaCl==1.4.0
pyserial==3.5
python-vagrant==0.5.15
pywin32==300; sys_platform == 'Windows'
requests==2.25.1
scp==0.13.3
six==1.15.0
tenacity==7.0.0
textfsm==1.1.0
urllib3==1.26.4
WMI==1.5.1; sys_platform == 'Windows'